<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Login 1 - Bootstrap Brain Component -->
    <section class="vh-100 gradient-custom">
      <h1 class="p-5 text-center text-white">Bienvenido al registro de bandas</h1>
      <div class="container py-5 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
                  <form method="POST">
                    {% csrf_token %}
                    <h2 class="fw-bold mb-2 text-uppercase">Iniciar sesión</h2>
                    <p class="text-white-50 mb-5">Por favor, introduzca su nombre de usuario y contraseña</p>
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">Usuario</label>
                      {{ form.username }}
                    </div>
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <label class="form-label" for="typePasswordX">Contraseña</label>
                      {{ form.password }}
                    </div>
      
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Ingresar</button>
                  </form>
                </div>
    
                <div>
                  <p class="mb-0">¿No tienes una cuenta? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Regístrate</a>
                  </p>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.getElementById('id_username').classList.add('form-control')
      document.getElementById('id_password').classList.add('form-control')
</script>
{% if messages %} 
{% for msj in messages %}
    <script>
        Swal.fire('{{ msj }}','','success')
    </script>
{% endfor %}    
{% endif %}
  </body>
</html>