{% extends 'index.html' %}
{% block contenido %}
<h3 class="alert alert-secondary mb-3 text-center">{{ titulo }}</h3>

{% if messages %}
{% for msj in messages %}
<script>
    Swal.fire('{{ msj }}', '', 'success')
</script>
{% endfor %}
{% endif %}
<!-- enctype sirve para enviar archvios desde el cliente al servidor -->
<form method="post" enctype="multipart/form-data">
    <!-- token que permite verificar que los datos sean enviados de django -->
    {% csrf_token %}
    {{ formulario }}
    <div class="text-center mt-3">
        <input type="reset" class="btn btn-outline-info w-25" value="Limpiar">
        <input type="submit" class="btn btn-primary w-25" value="Guardar">
    </div>
</form>
{% endblock %}